<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HWMS-Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
  </head>
  <body>
    <header>
      <div>Home</div>
      <div>Logout</div>
    </header>

    <div class="body-content">
      <div class="sidebar">
        <ul>
          <li><a href="/dashboard?path=desk">Desk</a></li>
          <li><a href="/dashboard?path=chat">Chat</a></li>
          <% if (user.role == 'Admin') { %>
            <li><a href="/dashboard?path=addP">Add Procedure</a></li>
            <li><a href="/dashboard?path=addS">Add Staff</a></li>
          <% } %>
        </ul>
      </div>
      <div class="main-content">

        <% if (path === 'desk' || path === null) { %>

          <%- include('partials/desk') %>

        <% } else if (path == 'chat') { %>

          <%- include('partials/chat') %>

        <% } else if (path == 'addP' && user.role == 'Admin') { %>

          <%- include('partials/addProcedure') %>
        
        <% } else if (path == 'addS' && user.role == 'Admin') { %>

          <%- include('partials/addStaff') %>

        <% } else { %>
          <h1>Invalid / Protected Path </h1>
        <% } %>
        
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
    </script>
  </body>
</html>
