:root {
    --primary-color: #1e7508;
    --secondary-color: #05386b;
    --tertiary-color: #6E6E6E;
    --tertiary-color-2: #464646; 
    --primary-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --box-shadow: 0 0 3px black;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}