<link rel="stylesheet" type="text/css" href="/css/desk1.css">

<div id="fd-desk">

    <div id="create-case">
        <p class="sect-head">Create a Case</p>
        <form id="new-case" action="">
            <input type="text" name="pName" class="pName input1" autocomplete="off" placeholder="Patient Name" required>
            <input type="number" name="svty" class="svty input1" autocomplete="off" min="1" max="3" required placeholder="severity">
            <input type="submit" value="Create">
        </form>
    </div>

    <div id="fd-cases">
        <p class="sect-head">Active Cases</p>
    </div>

</div>

<script src="/js/desk1.js"></script>